<%- include('partials/header.ejs') %>


    <main>
        <section class="hero">
            <h1>A Window to the Past</h1>
            <p>Welcome to my journal. Here, I share my thoughts and experiences.</p>
            <div class="hero-buttons">
                <a href="#posts" class="button">Explore Post</a>
                <a href="/new" class="button">Add New Post</a>
            </div>
        </section>

        <section id="posts" class="post-container"><h2>Posts</h2>      
                       <div class="posts-grid">
                <% if (posts.length > 0) { %>                                                           
                    <% posts.forEach(function(post) { %>
                        <article class="post-card">
                            <h3><%= post.title %></h3>
                            <p><%= post.content %></p>
                    
                            <div class="post-actions">
                                <form action="/delete/<%= post.id %>" method="POST">
                                    <button type="submit" class="button-delete">Delete</button>
                                </form>
                            </div>
                        </article>
                    
                    <% }); %>                        
                <% } else { %>
                    <p>No posts yet. How about adding the first one?</p>
                <% } %>
            </div>                                             
                <%- include('partials/footer.ejs') %>